.grid {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
    border-style: dashed;
    border-width: 5px;
    padding: 10px;
    background-color: white;
    margin: auto;
}

h1 {
    font-weight: bold;
    text-align: center;
    color: black; 

}

body {
    background-color: red;

}

h3{
    text-align: center;
    color: white;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    
}
